<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2013 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aguaviva.android.sftpstorageprovider"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ActivityFormConnection"
            android:exported="false" />
        <activity
            android:name=".ActivityTestConnection"
            android:exported="false" />
        <activity
            android:name=".ActivityListKeys"
            android:exported="false" />
        <activity
            android:name=".ActivityFormKey"
            android:exported="false" />
        <activity
            android:name=".ActivityTest"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ActivityNetworkGraph"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ActivityShareReceiver"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityListConnections"
            android:exported="true"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--BEGIN_INCLUDE(provider_manifest)-->
        <!--
        Declare the document provider class MyCloudProvider to the system.  The MANAGE_DOCUMENTS
        permission belongs only to the Android system, ensuring this provider will never be used
        directly by another app.  The provider must grant URI permissions in order to expose the
        specific documents(s) chosen, while not sharing all of its data by default.  It must be
        exported to be visible outside the application, and it must include a filter with the intent
        "android.content.action.DOCUMENTS_PROVIDER" in order to be shown in the system document
        picker UI.
        -->
        <provider
            android:name=".MyCloudProvider"
            android:authorities="${documentsAuthority}"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <!--END_INCLUDE(provider_manifest)-->

    </application>

</manifest>
